{
    "plugins": [
      "promise",
      "node",
      "security",
      "jsx-a11y",
      "react"
    ],
    "parser": "babel-eslint",
    "extends": [
      "eslint:recommended",
      "plugin:node/recommended",
      "plugin:react/recommended"
    ],
    "env"     : {
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 2017,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "globals" : {
      "__DEV__"      : false,
      "__PROD__"     : false,
      "__DEBUG__"    : false,
      "__COVERAGE__" : false,
      "__BASENAME__" : false
    },
    "rules": {
      "key-spacing" : [2, {
        "singleLine" : {
          "beforeColon" : false,
          "afterColon"  : true
        },
        "multiLine" : {
          "beforeColon" : false,
          "afterColon"  : true
        }
      }],
      "no-console"                   : 0,
      "max-len"                      : 0,
      "object-curly-spacing"         : [2, "always"],
      "semi"                         : [2, "always"],
      "indent"                       : ["error", 4],
      "comma-dangle"                 : ["error", "always-multiline"],
      "node/no-unsupported-features" : 0,
      "react/react-in-jsx-scope"     : 0
    }
  }
  